verilog/TeagueProcessingUnit.xpr
verilog/TeagueProcessingUnit.hw
verilog/TeagueProcessingUnit.cache
verilog/TeagueProcessingUnit.ip_user_files
verilog/TeagueProcessingUnit.sim

.venv
*.egg-info
build
__pycache__
mvp_test_hex.hex